html {
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vh;
}

html.idle-state,
html.voting-state {
  background-image: url("./idle.png");
  background-position: center center;
  background-size: cover;
}

.voting {
  position: absolute;
  top: -50vh;
  left: 50vw;
  transition: top 1s;
  opacity: 85%;
}

.voting table {
  min-width: 10em;
  position: relative;
  top: -50%;
  left: -50%;

  background-color: #000;
  color: #ccc;
  box-shadow: 0 0 1em #333;
  border-radius: 0.25em;
  border: 2px solid #fff;
  padding: 0.25em 0.5em;
}

.voting thead {
  color: #fff;
}

.voting meter {
  width: 90%;
}

.voting .count {
  text-align: right;
}

.voting .top {
  color: #3c6;
}


#game-voting {
  /* left: 66%; */
}

.quitting-state #quit-voting {
  top: 25vh;
}

.quitting-state #game-voting,
.idle-state #game-voting {
  top: 50vh;
}

.voting-state #game-voting {
  top: 25vh;
}

#debug {
  display: none;
}