html {
  min-height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vh;
}

html.idle-state,
html.voting-state {
  background-image: url("./idle.png");
  background-position: center center;
  background-size: cover;
}

.voting {
  position: absolute;
  top: -100vh;
  left: 50vw;
  transition: top 1s;
}

.voting table {
  min-width: 10em;
  position: relative;
  top: -50%;
  left: -50%;

  background-color: rgba(0, 0, 0, 66%);
  color: #ccc;
  box-shadow: 0 0 1em #333;
  border-radius: 1em;
  border: 2px solid #fff;
  padding: 0.25em 0.5em;
}

.voting thead {
  color: #fff;
}

.voting meter {
  width: 90%;
}

.quitting-state #quit-voting {
  top: 25vh;
}

.voting-state #game-voting {
  top: 25vh;
}

#debug {
  display: none;
}